$primaryGray: #313131;
$secondaryBlack: #202020;
$auxBlack: #121212;
$secondaryGray: #d4d4d4;

.search-section {
  background-color: $secondaryBlack;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 3.7rem;
  width: 100%;
  border-bottom: 1px solid $primaryGray;

  &__logo {
    width: 90px;
    height: 40px;
    margin-left: 20px;
    color: $secondaryGray;
    cursor: pointer;
    background-color: $secondaryBlack;
  }

  &__input-container {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__input {

      background-color: $auxBlack;
      color: $secondaryGray;
      font-size: medium;
      min-height: 20px;
      width: 90%;
      height: 100%;
      padding: 10px;
      outline: $secondaryGray;
      border: 1px solid $secondaryBlack;
    }

    &__button {
      width: 70px;
      height: 100%;
      border: none;
      background-color: $primaryGray;

      &--icon {
        background-color: $primaryGray;
      }
    }
  }

  &__bell {
    width: 70px;
    height: 20px;
    margin-right: 20px;
    color: $secondaryGray;
    background-color: $secondaryBlack;
  }


}