$generalBg: #202020;
$borderGray: #313131;
$secondaryGray: #7a7979;
$lightGray: #dedede;
$secondaryLightGray: #6b6b6b;

.tagbar {
  background-color: $generalBg;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 45px;
  border-bottom: $lightGray;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    padding: 6px;
    font-size: 0.9rem;
    background-color: $borderGray;
    border: 1px solid $secondaryLightGray;
    color: $lightGray;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
  }
}