@use './MainContainer';
@use './SearchInput';
@use './VideoCard';
@use './Spinner';
@use './VideoListContainer';
@use './TagBar';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}